<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>九九乘法表</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-for="n in 9">
            <b v-for="m in n">
                {{n}}*{{m}} = {{n*m}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </b>
        </p>
    </div>

    <script>
        const app = new Vue ({
            el:"#app",

        })
    </script>
</body>
</html>